<div>
  <p>If you reach out to us, you'll most likely hear back within an hour — 97.7% of people do.</p>
  <p>We guarantee a response to every support request within 24 hours.</p>
</div>
<div>
  <h3>Related Articles</h3>
  <ul>
    <li><a href="20-how-do-i-contact-gumroad"><span>Contact Gumroad</span></a></li>
  </ul>
</div>
